<launch>
	<arg name = "num"  			default = "1"           />
	<arg name = "is_show"       default = "true"        />
	<arg name = "video_device"  default = "/dev/video0" />
    <arg name = "image_width"   default = "640"        />
    <arg name = "image_height"  default = "480"         />
    <arg name = "fps"           default = "30"          />
    <arg name = "pixel_format"  default = "yuyv"       />

    <include file="$(find apriltag_ros)/launch/single_apriltag_detect.launch" >
		<arg name = "video_device"  default = "$(arg video_device)"      />
		<arg name = "image_width"   default = "$(arg image_width)"       />
		<arg name = "image_height"  default = "$(arg image_height)"      />
		<arg name = "fps"           default = "$(arg fps)"               />
		<arg name = "pixel_format"  default = "$(arg pixel_format)"      />
		<arg name = "is_show"       default = "$(arg is_show)"           />
    </include>

</launch>
