<launch>
    <!--
    General test file to launch simulator
    -->

    <!--
    Parameters
    -->


    <rosparam file="$(find sailing_robot)/launch/parameters/default.yaml" command="load"/>

    <rosparam file="$(find sailing_robot)/launch/parameters/calibration_blackpython.yaml" ns="/calibration"
              command="load"/>
    <rosparam file="$(find sailing_robot)/launch/parameters/rudder_settings.yaml" command="load"/>
    <rosparam file="$(find sailing_robot)/launch/parameters/sail_settings.yaml" command="load"/>
    <!-- new stragy /-->
    <!--rosparam file="$(find sailing_robot)/launch/parameters/rudder_settings_new.yaml" command="load"/-->
    <!--rosparam file="$(find sailing_robot)/launch/parameters/sail_settings_new.yaml" command="load"/-->

    <!--rosparam file="$(find sailing_robot)/launch/parameters/test.yaml" command="load"/-->
    <rosparam file="$(find sailing_robot)/launch/parameters/to_waypoint.yaml" command="load"/>
    <!--rosparam file="$(find sailing_robot)/launch/parameters/sailingClub_waypoints.yaml" command="load"/-->

    <!--    <rosparam file="$(find sailing_robot)/launch/parameters/simulator.yaml" command="load"/>-->


    <!--
    Nodes
    -->
    <node name="debugging_2D_plot_matplot" pkg='sailing_robot' type="debugging_2D_plot_matplot" output = "screen"/>
</launch>
